// app scss core

// components

// helpers
.thumbnail {
    cursor: pointer;
    border: 2px white solid;
}

// --- colors ---


// --- scrollbar ---
::-webkit-scrollbar-track {
    border: none;
    background-color: #dadada;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: #aeaeae;
}

::-webkit-scrollbar-thumb {
    background-color: #aeaeae;
}

// imports core scss file
@import "./core/colors";
@import "./core/toasted";
@import "./core/main";